[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-tools = "*"
python-magic = "*"
python-ffmpeg = "*"
whisper = {git = "https://github.com/openai/whisper.git"}
plexapi = "*"
pyinstaller = "*"
grpclib = {extras = ["protobuf"], version = "*"}
whisperx = {git = "https://github.com/m-bain/whisperX.git"}
pytest = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9.9"
