[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-tools = "*"
python-magic = "*"
python-ffmpeg = "*"
whisper = {git = "https://github.com/openai/whisper.git"}
plexapi = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
